*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:hover{
    color: #FF6565
}

button:hover{
    opacity: 0.9
}

body{
    color:white;
    font-family: "Source Sans Pro", sans-serif;
}

header{
    display: flex;
    position: absolute;
    left:0;
    right:0;
    margin-top: 40px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    position: relative;
    width: 100%;
}

.logo{
    margin-left: 80px
}

.nav-links{
    list-style: none;
    display:flex;
    position: relative;
    gap: 60px;
    margin-right: 80px;
    font-weight: 300;
}

.nav-links li a{
    color: white;
    text-decoration: none;
}


.list-item:hover{
    color: #FF6565;
    transition: opacity 0.3s ease ;
} 

.list-item:active{
    color: #FF6565;
}

.hero-section{
    text-align: center;
    margin: 0;
    padding-top: 22rem;
    align-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
    url('images/headphones_hero_1.jpg');
    background-position: center;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    color: white;
}


.hero-title{
    font-size: 50px;
}

.hero-p1{
    font-size: 20px;

}
.hero-button{
    color: white;
    background-color: #FF6565;
    padding: 15px 25px;
    border-radius: 20px;
    border: 0;
    margin-bottom: 80px;
    margin-top: 50px;
    font-weight: 600;
}

.hero-p2{
    line-height: 35px;
    font-size: 21px;
    margin: auto;
    margin-top: 0px;
    text-align: center;
}

#what_we_do{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.what_we_do-list{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.what_we_do-item{
    text-align: center;
}

.what_we_do-p1{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
    font-size: 20px;
}

.what_we_do-img{
    margin-bottom: 50px;
}
    
.what_we_do-p3{
    font-style: italic;
}

#our_results{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-image: url(images/headphones_hero_2.jpg);
    background-position: center;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.our_results-list{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.our_results-p1{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
    font-size: 20px;
    padding-top: 120px;

}

.our_results-item{
    text-align: center;
    position: relative;
}

.our_results-grade{
    position: absolute;
    left: 40%;
    right: 50%;
    transform: translate(-50%,-50%);
    top:50%;
    font-size: 60px;
}

.our_results-p2{
    position: absolute;
    left: 40%;
    right: 50%;
    transform: translate(-50%,-50%);
    top:70%;
    font-size: 16px;
    white-space: nowrap;
  
}

.pentagon{
    width: 100%;
}

.contact_us-btn{
     color: white;
    background-color: #FF6565;
    padding: 15px 30px;
    border-radius: 20px;
    border: 0;
    margin-bottom: 80px;
    margin-top: 50px;
    font-weight: 600;
}

.contact_us-content1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    padding: 10px 500px 10px 5px;
    border-radius: 4px;
}

label{
    color:black
}

.contact_us-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 25px;
}

#message{
    padding: 10px 500px 100px 5px;
}


.contact_us-p1{
    color:black;
    padding-top: 60px;
    padding-bottom: 20px;
}

form {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeSlideIn 1s ease forwards;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 